.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noti:before {
  content: '●';
  margin-right: 4px;
  color: #46d160;
}

.commentContainer {
  margin-top: 6px;

  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.inputContainer > span {
  margin-top: 5px;
}

.inputContainer__input {
  margin: 6px 0 0px 0;
  padding: 5px;
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  background-color: #e7e7e7;
}

.first_input {
  margin: 0;
}

.commentContainer > span {
  margin: 0 5px;
}

.comment {
  color: #ffffff;
  background-color: #569dff;
  letter-spacing: 0.8px;
}

.comment-stack {
  margin: 0.5rem 0;
}

.comment-stack:last-child {
  margin-bottom: 0;
}

.nested-comments {
  padding-left: 0.5rem;
  flex-grow: 1;
}

.nested-comments-stack {
  display: flex;
}

.collapse-line {
  border: none;
  background: none;
  padding: 0;
  width: 15px;
  position: relative;
  cursor: pointer;
  outline: none;
  transform: translateX(-50%);
}

.collapse-line:hover::before,
.collapse-line:focus-visible::before {
  background-color: hsl(235, 100%, 60%);
}

.collapse-line::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 49%;
  padding: 20px 0;
  width: 1px;
  background-color: hsl(235, 50%, 74%);
  transition: background-color 100ms ease-in-out;
}

.collapse-line-2 {
  border: none;
  background: none;
  padding: 0;
  width: 15px;
  position: relative;
  cursor: pointer;
  outline: none;
  transform: translateX(-50%);
}

.collapse-line-2:hover::before,
.collapse-line-2:focus-visible::before {
  background-color: hsl(235, 100%, 60%);
}

.collapse-line-2::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 26px;

  width: 1px;
  background-color: hsl(235, 50%, 74%);
  transition: background-color 100ms ease-in-out;
}


.left-menu{
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  margin-right: 2rem;
}

@media screen and (max-width: 1024px) {
  .left-menu{
    display: none;
  }
}

.right-menu{
  flex: 1;
  height: 100vh;
}